<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Edit Employee</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<div th:if="${Role == 'ADMIN' || Role == 'EMPLOYEE'}">
		<div th:replace="header"></div>
	</div>
	<div th:if="${Role == 'MANAGER'}">
		<div th:replace="header_manager"></div>
	</div>
<div align="center">
		<h3>Edit Employee</h3>
		<br />
		<form action="#" th:action="@{/save}" th:object="${Employees}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Employee ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{First_name}" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" th:field="*{Last_name}" /></td>
				</tr>
				<tr>
					<td>Designation:</td>
					<td><input type="text" th:field="*{Designation}" /></td>
				</tr>
				<tr>
					<td>Responsibility:</td>
					<td><input type="text" th:field="*{Responsibility}" /></td>
				</tr>
					<tr>
					<td>Email:</td>
					<td><input type="text" th:field="*{Email}" /></td>
				</tr>
				<tr>
					<td>Phone Number:</td>
					<td><input type="text" th:field="*{PhoneNo}" /></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input type="text" th:field="*{Address}" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="text" th:field="*{Password}" /></td>
				</tr>
				<tr>
					<td>Role:</td>
					<td>
						<select th:field="*{Role}">
							<option th:value="ADMIN" th:text="ADMIN">ADMIN</option>
							<option th:value="MANAGER" th:text="MANAGER">MANAGER</option>
							<option th:value="EMPLOYEE" th:text="EMPLOYEE">EMPLOYEE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Reported To Person:</td>
					<td><input type="text" th:field="*{ReportToPerson}" disabled/></td>
				</tr>
				<tr>
					<td>Change Reported To Person:</td>
					<td>
						<input type="hidden" th:field="*{ReportToid}" id="ReportedPersonId">
						<input type="hidden" th:field="*{ReportToPerson}" id="ReportedPersonName">
						<select id="personSelection">
							<option disabled selected>Select Any</option>
							<option th:each="Employees : ${Employeeslist}" th:if="!${Employees.id == id}" th:value="${Employees.id} + '~' + ${Employees.First_name}" th:text="${Employees.First_name}"></option>
						</select>
					</td>
				</tr>
				<tr align="center">
					<td><button type="submit">Save</button></td>
					<td><input type="button" onclick="window.history.back();" value="Cancel"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script type="text/javascript">
	$("#personSelection").change(function() {
		var reportedPersonData = $("#personSelection").val();
		var str = reportedPersonData.split("~");
		$("#ReportedPersonId").val(str[0]);
		$("#ReportedPersonName").val(str[1]);
	});
</script>
</html>
