<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Products Manager</title>
</head>
<body>
	<div th:if="${Role == 'ADMIN' || Role == 'EMPLOYEE'}">
		<div th:replace="header"></div>
	</div>
	<div th:if="${Role == 'MANAGER'}">
		<div th:replace="header_manager"></div>
	</div>
	<div align="center">
		<h3>Products List</h3>
<!-- 		<a href="/newProduct">Add New Product</a> <br /> -->
<!-- 		<br /> -->
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Product Description</th>
					<th>Remarks</th>
					<th>Funtions</th>
					<th>Product Category Name</th>
					<th>Cost of Lost Product</th>
					<th>Legal costs</th>
					<th>Interest Payments</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Products : ${Productslist}">
					<td th:text="${Products.id}">Product ID</td>
					<td th:text="${Products.P_Name}">Product Name</td>
					<td th:text="${Products.P_Description}">Product Description</td>
					<td th:text="${Products.P_Remarks}">Remarks</td>
					<td th:text="${Products.Fun_Name}">Funtions</td>
					<td th:text="${Products.ProductCategoryName}">Product Category Name</td>
					<td th:text="${Products.Cost_LostProd}">Cost of Lost Product</td>
					<td th:text="${Products.Legal_Costs}">Legal costs</td>
					<td th:text="${Products.Interest_Payments}">Interest Payments</td>
					
					
					<td>
						<a th:href="@{'/editproduct/' + ${Products.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; 
						<a th:href="@{'/deleteProduct/' + ${Products.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
